/* .Header {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
}

.Input {
    background: #ffffff;
    border: 1px solid var(--second-bg-color);
    padding: 10px;
    border-radius: 10px;
    width: 500px;
} */

.Container {
    margin-top: 50px;
}

.TitleWrapper {
    padding: 20px;
}

.FormTitle {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
}

.Input {
    background: #fff;
    border: 1px solid var(--second-bg-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
