.Task {
  background-color: var(--second-bg-color);
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.TaskDescription {
  text-align: left;
  opacity: 0.5;
}

.Stars {
  font-size: 1.5rem;
}

.Star {
  color: #ffd700;
}

.Star:hover {
  color: #ffe600;
}

.StarOutline:hover {
  color: #ffd700;
}

@media screen and (max-width: 575px) {
  .HeaderCol {
    justify-content: center;
  }
}

.OverdueTask,
.OverdueTask a,
.OverdueTask i {
  background-color: #800000;
  color: #f5f5dc;
}

.OverdueDropDown {
  background-color: #800000 !important;
}

.OverDueDropdownItem:hover {
  background-color: none;
}