.Task {
  background-color: var(--second-bg-color);
  border: none;
  border-radius: 10px;
  text-align: center;
}

.Stars {
  font-size: 1.5rem;
}

.Star {
  color: #ffd700;
}

.Star:hover {
  color: #ffe600;
}

.StarOutline:hover {
  color: #ffd700;
}
