:root {
  --bg-color: #dee2e6;
  --second-bg-color: #ced4da;
  --main-text: #212529;
  --second-text: #6c757d;
  --card-color: #e9ecef;
  --toggle-bg: #fff;
  --toggle-fg: #dcd7d7;
}

[data-theme="dark"] {
  --bg-color: #343a40;
  --second-bg-color: #212529;
  --main-text: #f8f9fa;
  --second-text: #adb5bd;
  --card-color: #6c757d;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

.Main {
  padding-top: 6rem;
}

.Content {
  background-color: var(--second-bg-color);
  color: var(--main-text);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.Container {
  margin-top: 10px;
}

.App {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  min-height: 100vh;
  transition: background-color 0.25s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--main-text);
  font-size: 1.2rem;
  transition: color ease-in-out 0.3s;
}

a:hover {
  color: var(--second-text);
  text-decoration: none;
}

a:hover i {
  color: var(--second-text);
  transition: color ease-in-out 0.3s;
}

i {
  color: var(--main-text);
  padding: 4px;
}

i:hover {
  cursor: pointer;
  color: var(--second-text);
  transition: color ease-in-out 0.3s;
}

@media (prefers-color-scheme: dark) {
  .ContentDarkMode {
    background-color: var(--second-bg-color);
    color: var(--main-text);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 15px -3px,
      rgba(255, 255, 255, 0.05) 0px 4px 6px -2px;
  }
}
